body {
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

#mainNavbar .navbar-nav {
    font-size: 1.25rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
}

#headingGroup .name {
    color: #ea1c2c;
    font-weight: 600;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#headingGroup .btn-danger {
    background-color: #ea1c2c;
}

.jumbotron {
    background-color: #f7f7f7;
    margin-top: 170px;
    margin-bottom: 80px;
}